# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
log/
logs/*
log/*
.log

# Virtual environment
venv/
.env/

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Testing / Coverage
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.pycover
.pytest_cache/

# Build / Distribution
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Video files
*.mp4
*.m4v
*.mov
*.avi
*.wmv
*.flv
*.mkv
*.webm
*.ogv
*.ogm
*.mpeg
*.mpg
*.mxf
*.ts
*.m2ts
*.mts
*.vob
*.3gp
*.3g2
*.rm
*.rmvb
*.divx
*.dv
*.asf
*.f4v
*.swf

/test*
